* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}

.wrapper {
  overflow: hidden;
}

.slide {
  display: flex;
}
.slide:hover {
  will-change: transform;
}
.slide li {
  width: 80vw;
  flex-shrink: 0;
  border-radius: 5px;
  overflow: hidden;
  max-width: 800px;
  margin: 0 15px;
  opacity: 0.5;
  transform: scale(0.85);
  transition: 0.5s;
}
.slide li.active {
  opacity: 1;
  transform: scale(1);
}
.arrowNav {
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.arrowNav button {
  background: #fb5 url("../img/arrow.svg") center center no-repeat;
  width: 40px;
  height: 40px;
  color: #fafafa;
  border: none;
  border-radius: 4px;
  padding: 3px 10px;
  transition: 0.2s;
  cursor: pointer;
}
.arrowNav button.next:hover {
  box-shadow: 0px 2px 5px #111;
}
.arrowNav button.prev:hover {
  box-shadow: 0px -2px 5px #111;
}
.arrowNav button.prev {
  transform: rotate(-180deg);
}
[data-control="slide"] {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

[data-control="slide"] li a {
  display: block;
  height: 16px;
  width: 16px;
  background: #fb5;
  border-radius: 50%;
  overflow: hidden;
  text-indent: -999px;
  margin-right: 10px;
}
[data-control="slide"] li.active a,
[data-control="slide"] li a:hover {
  background: #e54;
}
.customControls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
.customControls li {
  opacity: 0.8;
  transform: scale(0.8);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  transition: 0.4s;
  margin: 2px;
  cursor: pointer;
}
.customControls li.active {
  opacity: 1;
  transform: scale(1);
  box-shadow: -3px 3px 5px #111;
}
