* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}

.wrapper {
  overflow: hidden;
}

.slide {
  display: flex;
}
.slide:hover {
  will-change: transform;
}
.slide li {
  width: 80vw;
  flex-shrink: 0;
  border-radius: 5px;
  overflow: hidden;
  max-width: 800px;
  margin: 0 15px;
  opacity: 0.5;
  transform: scale(0.85);
  transition: 0.5s;
}
.slide li.active {
  opacity: 1;
  transform: scale(1);
}
.arrowNav {
  margin: 30px auto;
  display: flex;
  width: 40vw;
  align-items: center;
  justify-content: space-between;
}
.prev,
.next {
  background: #fb5;
  color: #1a1a1a;
  border: 1px solid #1a1a1a;
  border-radius: 2px;
  padding: 3px 10px;
  transition: 0.2s;
  cursor: pointer;
}
.next:hover,
.prev:hover {
  background: #1a1a1a;
  color: #fb5;
}
